.edit-root-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.edit-title {
  background-color: rgba(1, 1, 1, 0);
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 0 0 #efefef;
  border: none;
  outline: none;
}

.edit-toolbar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
