.article-page-root {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 1em;
}

.title-view {
  font-size: 2em;
  font-weight: bold;

  position: sticky;
  top: 0;

  background-color: rgba(1, 1, 1, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 1em;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta-view {
  display: flex;
  justify-content: space-between;
}

.content-view {
  background-color: rgb(239 239 239);
  box-sizing: border-box;
  /* line-break: anywhere; */
  overflow-wrap: break-word;
  box-shadow: 1px 2px 3px 0px;
  flex-grow: 1;
}

.title-view,
.meta-view,
.content-view {
  padding: 1rem;
}
