.title-view {
  font-size: 2em;
  font-weight: bold;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta-view {
  display: flex;
  justify-content: space-between;
}

.content-view {
  box-sizing: border-box;
  /* line-break: anywhere; */
  overflow-wrap: break-word;
  flex-grow: 1;
}

.title-view,
.meta-view,
.content-view {
  padding: 1rem;
}

.divide {
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, #939393, transparent);
}
