@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(45deg, transparent, #e0f9ff, #c7c7c7, #eceaff);
}

body > main > * {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  body > main > * {
    max-width: 1200px;
  }
}

button {
  cursor: pointer;
}

.card-blur {
  background-color: #0000000f;
  backdrop-filter: blur(12px);
  box-shadow: 0 1px 3px 0 #616161 , 0 1px 2px -1px #616161;
  border-radius: 0.375rem;
}
