.root {
  --icon-size: 2rem;
  --padding-icon: 0.2rem;
  --main-size: calc(var(--padding-icon) + var(--icon-size));

  box-sizing: border-box;
  width: var(--main-size);
  height: var(--main-size);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  padding: var(--padding-icon);
  border-radius: 50%;
}
.root::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  transform: translate(-39.64466094067262%, -39.64466094067262%);
  background-color: #c1c1c190;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 10px 0px #979797ad;
  z-index: 99;
  border-radius: 50%;
}
.btn {
  display: block;
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.root object {
  pointer-events: none;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  z-index: 88;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  transform: translateX(-100%);
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: transform, opacity;
  will-change: transform, opacity;
  opacity: 0;
}
:is(.btn, .root):hover .list {
  transform: translateX(0);
  opacity: 1;
}
.list a {
  width: 1rem;
  height: 1rem;
  margin: 0.2rem;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: #c1c1c190;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 10px 0px #979797ad;
}

:is(.btn, .list a) {
  fill: #474747;
}
:is(.btn, .list a):hover {
  fill: #00b8ff;
}
