.login-page-root {
  --transition-time: 0.6s;
  --transition-time-tab: 0.4s;
  --view-size: 0px;
}
.login-page-root.active {
  --view-size: 100%;
}
.card {
  display: grid;
  grid-template-columns: 1fr 2rem;
  grid-template-rows: 1fr;
  box-shadow: 0px 0px 3px 2px #c5c5c5;
}
.tab {
  position: absolute;
  text-align: center;
  text-wrap: nowrap;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  transition: all var(--transition-time-tab) linear;
  background-color: rgb(155, 205, 255);
  left: 2rem;
  padding: 0.4rem;
  transform: translateX(0);
  width: 3rem;
  height: 1.25rem;
}
.tab:hover {
  filter: brightness(1.2);
}
.active .tab {
  left: calc(100% - 2rem);
  transform: translateX(-100%);
}
.btn-container .btn {
  width: 10rem;
  height: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(35%, 35%);
  border-radius: 50%;
}
.btn-icon {
  transform: translate(-100%, -100%);
}
.view-size {
  width: 40rem;
  height: 25rem;
}
.view {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  box-sizing: border-box;
}
.message {
  margin-top: 1rem;
}
.user-icon {
  position: relative;
  color: aliceblue;
  background-color: black;
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  user-select: none;
  margin: 0 auto;
}
.user-icon::after {
  position: absolute;
  content: "";
  inset: -0.25rem;
  z-index: -1;
  /* background-color: hsl(224, 44%, 42%); */
  background-image: conic-gradient(hsl(224, 90%, 66%) 80deg, transparent 80deg);
  border-radius: 50%;
  animation: rotate 5s ease-in alternate infinite;
}
.user-icon::before {
  position: absolute;
  content: "";
  inset: -0.25rem;
  z-index: -1;
  /* background-color: hsl(224, 44%, 42%); */
  background-image: conic-gradient(
    transparent 180deg,
    hsl(224, 90%, 66%) 180deg 260deg,
    transparent 260deg
  );
  border-radius: 50%;
  animation: rotate 3s ease-out alternate infinite;
}
.user-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5rem;
  margin-top: 1rem;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.view .logout-btn {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.title {
  text-wrap: nowrap;
  position: absolute;
  top: 0;
  font-size: 2.5rem;
  font-weight: bold;

  box-sizing: border-box;
  border-radius: 999px;
  padding: 0.5rem;

  background: linear-gradient(45deg, #4b4f4e, #b39caf, #5580a5);
  background-clip: text;
  color: transparent;
}

.viewport {
  position: absolute;
  overflow: hidden;
  will-change: width;
  transition: width var(--transition-time);
  width: 100%;
  height: 100%;
}

.viewport:nth-child(1) {
  left: 0;
  width: var(--view-size);
}
.viewport:nth-child(1) .view {
  left: 0;
}
.viewport:nth-child(2) {
  right: 0;
  width: calc(100% - var(--view-size));
}
.viewport:nth-child(2) .view {
  right: 0;
}
