.card {
  display: grid;
  grid-template-columns: 1fr 2rem;
  grid-template-rows: 1fr;
  background-image: url(/preview.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.tab {
  position: absolute;
  text-align: center;
  text-wrap: nowrap;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  transition: all 0.3s linear;
  background-color: rgb(155, 205, 255);
  left: 2rem;
  padding: 0.4rem;
  transform: translateX(0);
  width: 3rem;
  height: 1.25rem;
}
.tab:hover {
  filter: brightness(1.2);
  transform: translateX(0);
}
.active .tab {
  left: calc(100% - 2rem);
  transform: translateX(-100%);
}
.btnContainer button.btn {
  width: 10rem;
  height: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(35%, 35%);
  border-radius: 50%;
}
.icon {
  transform: translate(-100%, -100%);
}
.view {
  width: 40rem;
  height: 25rem;
  gap: 4rem;
}
.message {
  margin-top: 1rem;
}
.userIcon {
  position: relative;
  color: aliceblue;
  background-color: black;
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  user-select: none;
  margin: 0 auto;
}
.userIcon::after {
  position: absolute;
  content: "";
  inset: -0.25rem;
  z-index: -1;
  /* background-color: hsl(224, 44%, 42%); */
  background-image: conic-gradient(
    hsl(224, 90%, 66%) 80deg,
    transparent 80deg
  );
  border-radius: 50%;
  animation: rotate 4s linear alternate infinite;
}
.userIcon::before {
  position: absolute;
  content: "";
  inset: -0.25rem;
  z-index: -1;
  /* background-color: hsl(224, 44%, 42%); */
  background-image: conic-gradient(
    transparent 180deg,
    hsl(224, 90%, 66%) 180deg 260deg,
    transparent 260deg
  );
  border-radius: 50%;
  animation: rotate 4s linear alternate infinite;
}
.userInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5rem;
  margin-top: 1rem;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
